USE [master]
GO
/****** Object:  Database [Assistance]    Script Date: 06-03-2019 15:24:38 ******/
CREATE DATABASE [Assistance]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Assistance', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\Assistance.mdf' , SIZE = 3264KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Assistance_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\Assistance_log.ldf' , SIZE = 832KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Assistance].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Assistance]
GO
/****** Object:  Table [dbo].[Data]    Script Date: 06-03-2019 15:24:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Data](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[data] [nvarchar](max) NULL,
	[date] [nvarchar](50) NULL,
	[time] [nvarchar](50) NULL,
	[status] [nvarchar](50) NULL,
 CONSTRAINT [PK_Data] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[speech]    Script Date: 06-03-2019 15:24:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[speech](
	[id] [nvarchar](50) NULL,
	[status] [nvarchar](50) NULL
) ON [PRIMARY]

GO
USE [master]
GO
